Source: libcsoap
Priority: optional
Maintainer: Rudi Cilibrasi <cilibrar@cilibrar.com>
Build-Depends: debhelper (>= 4.0.0), autotools-dev
Standards-Version: 3.6.2
Section: libs

Package: libcsoap-dev
Section: libdevel
Architecture: any
Depends: libcsoap1 (= ${Source-Version})
Description: development header files for CSOAP library
 This package contains files needed to compile libcsoap applications.

Package: libcsoap1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: shared CSOAP library for SOAP client/server in C
 This project in ANSI C provides a convenient SOAP API for clients and servers
