Source: libcomplearn
Priority: optional
Maintainer: Rudi Cilibrasi <cilibrar@cilibrar.com>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, libtool
Standards-Version: 3.6.2
Section: libs

Package: libcomplearn0-dev
Section: libdevel
Architecture: any
Depends: libcomplearn0 (= ${Source-Version})
Description: machine-learning through data compression development files
 complearn is a library for parameter-free universal learning.  Using this
 library, developers can access a wealth of powerful and general techniques
 in artificial intelligence and pattern recognition including bioinformatics
 such as genomics, language evolution, music recognition, and much more
 .
 Homepage: http://complearn.org/

Package: libcomplearn0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcsoap1-dev
Description: machine-learning with data compression core library runtime files
 complearn makes artificial intelligence easy.  By using the powerful
 statistical analysis already built within data compression programs,
 this library delivers high-quality results with very low effort
 .
 Homepage: http://complearn.org/

