Source: libcomplearn-ruby1.8
Section: devel
Priority: optional
Maintainer: Rudi Cilibrasi <cilibrar@cilibrar.com>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, libcomplearn0-dev, pkg-config, libcomplearn0-dev, automake1.8, libgsl0-dev, ruby1.8-dev, ruby1.8
Standards-Version: 3.7.2

Package: libcomplearn-ruby1.8
Architecture: any
Depends: pkg-config, ruby1.8, ruby1.8-dev, libcomplearn0-dev, ${shlibs:Depends}, ${misc:Depends}
Description: a Ruby binding to CompLearn machine-learning library
 This is a Ruby binding for the popular and robust CompLearn learning package.
