Source: libcomplearn-ruby1.8
Section: devel
Priority: optional
Maintainer: Rudi Cilibrasi <cilibrar@cilibrar.com>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, libmpich1.0-dev, libcomplearn0-dev, libcomplearn0, libsdl1.2-dev, libsdl-ttf2.0-dev, libglut3-dev, libgtk2.0-dev, pkg-config, libcomplearn0-dev, automake1.8, libgsl0-dev, libgdbm-dev, libbz2-dev, libbz2-1.0, libcomplearn0, libcsoap1, libcsoap1-dev, libnanohttp1, libnanohttp1-dev, libxml2-dev, libxml2, libruby1.8, ruby1.8-dev, ruby1.8
Standards-Version: 3.6.2

Package: libcomplearn-ruby1.8
Architecture: any
Depends: pkg-config, ruby1.8, ruby1.8-dev, libcomplearn0-dev, ${shlibs:Depends}, ${misc:Depends}
Description: Ruby binding to CompLearn, a machine-learning library.
 This is a Ruby binding for the popular and robust CompLearn learning package.
