<ul>
<li><%= link_to "New experiment", :controller => 'clo', :action => 'fun' %></li>
<li><%= link_to "Random experiment", :controller => 'clo', :action => 'getrandexp' %></li>
<li><%= link_to "All experiments", :controller => 'clo', :action => 'listmonths' %></li>
<li><a href="http://complearn.org/">CompLearn Home</a></li>
</ul>
