<div id="status" name="status">
<h2>status</h2>
<table>
<% @statuspane.getStatusLines.each { |msg, time| %>
<tr><td><%= msg %> </td><td> <%= time.strftime("%H:%M") %> </td></tr>
<% } %>
</table>
</div>
